h1 {
  font-family: helvetica;
  font-weight: 200;
}

/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  position: relative;
  background-color: #dbdbdb;
}

.sidenav {
  grid-area: sidenav;
  background-color: #ffffff;
}

.main {
  grid-area: main;
  background-color: #e1fdff;
}

.footer {
  grid-area: footer;
  background-color: #dbdbdb;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px;
  display: inline-block;
  color: rgb(134, 134, 134);
}

.sidenav__list-item:hover {
  background-color: rgba(255, 0, 0, 0.2);
  cursor: pointer;
}